
<h2> Create a user </h2>

<form action="/users" method="POST">
	<label for "user_name">Enter User Name</label>
	<input type ="text" id="user_name" name="user[user_name]">

	<br>
	<label for "user_name">Enter Password</label>
	<input type="password" id="password" name="user[password]">

	<br>
	<input type="submit" value="Log in">

</form>